<div class="searchbox">
    <h1>Nearby<br>Restaurants</h1>
    <div class="distancerange">
        <p>現在地から</p>
        <p><span id="distance"></span>m</p>
    </div>
    <div class="range">
        <input type="range" id="distancerange" min="1" max="5" step="1">
    </div>
    <div class="budgetrange">
        <p>予算</p>
        <p><span id="budget"></span></p>
    </div>
    <div class="range">
        <input type="range" id="budgetrange" min="1" max="9" step="1">
    </div>
    <button id="location" value="1" data-page="1">レストランを探す</button>
</div>
<div class="index">
    <div class="main"></div>
    <div class="pagenation"></div>
    <template id="template">
        <div class="restaurant_data">
            <a href=""></a>
            <div class="photo"><img src=""></img></div>
            <h1 class="name"></h1>
            <p class="genre"></p>
            <p class="access"></p>
            <p class="budget"></p>
        </div>
    </template>
</div>