<div class="searchbox">
    <form>
        <label for="ranges">検索範囲</label>
        <select id="ranges">
            <option value="1">300m</option>
            <option value="2">500m</option>
            <option value="3">1000m </option>
            <option value="4">2000m </option>
            <option value="5">3000m </option>
        </select>
    </form>
    <button id="location">レストランを探す</button>
</div>
<div class="index">
    <div class="main"></div>
    <template id="template">
        <div class="restaurant_data">
            <div class="photo"><img src=""></img></div>
            <h1 class="name"></h1>
            <p class="access"></p>
            <p class="budget"></p>
        </div>
    </template>
</div>