<div class="searchbox">
    <button id="location">現在地を取得する</button>
    <form>
        <label for="ranges">検索範囲</label>
        <select id="ranges">
            <option value="1">300m</option>
            <option value="2">500m</option>
            <option value="3">1000m </option>
            <option value="4">2000m </option>
            <option value="5">3000m </option>
        </select>
    </form>
</div>